{% extends 'base.html' %}

{% block content %}
<h1>{{username}}'s profile</h1>

{% if info.get('avatar') %}
<img src="{{ url_for('render_avatar', user_id=info.get('user_id')) }}" alt="" width="200px">
{% else %}
<img src="/static/img/default_avatar.png" alt="" width="130px">
{% endif %}

<div>
    <table>
        <tr>
            <td width="120px"><b>Last seen: </b></td>
            <td><i>{{info.get('last_seen')}}</i></td>
        </tr>
        <tr></tr>
        <tr>
            <td><b>Date of birth: </b></td>
            <td>{{info.get('date_of_birth')}}</td>
        </tr>
        <tr>
            <td><b>Email: </b></td>
            <td>{{info.get('email')}}</td>
        </tr>
        <tr>
            <td><b>About: </b></td>
            <td>{{info.get('about')}}</td>
        </tr>
    </table>
</div>

<hr width="300px" align="left">

<p style="font-size: 28"><b>{{username}} posts:</b></p>
{% for post in posts %}
<table id="post">
    <tr>
        <td><i>{{ post.timestamp.strftime("%H:%M %d.%m.%Y") }}</i></td>
    </tr>
    <tr>
        <td style="font-size: 20" colspan="3"><b>{{ post.title }}</b></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">{{ post.body }}</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td><b>Comments:</b></td>
    </tr>
    {% for comment in post.comments %}
    <tr>
        <td>In <i>{{comment.timestamp.strftime("%H:%M %d.%m.%Y")}}</i>
            <a href="{{ url_for('profile', user_id=comment.user_id) }}">
                {{ comment.author.nickname }}
            </a>
             say's:
        </td>
    </tr>
    <tr>
        <td>«{{comment.body}}»</td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <form action="{{url_for('add_comment')}}" method="post">
                {{comment.hidden_tag()}}
                Write something: {{comment.body}}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="submit" value="Submit!">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <hr width="500 px" align="left">
        </td>
    </tr>
</table>

{% endfor %}

{% endblock %}