<html>
  <head>
    {% if p_title %}
    <title>{{p_title}} - microblog</title>
    {% else %}
    <title>Welcome in microblog</title>
    {% endif %}
  </head>
  <body>
    <div>Microblog:
        <a href="{{ url_for('index') }}">Feed</a>
        {% if g.user.is_authenticated %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        | <a href="{{ url_for('profile', user_id=g.user.id) }}">My profile</a>
        | <a href="{{ url_for('subscribe_list') }}">My subscribing</a>
        {% endif %}
    </div>
    <div>
      {% if g.user.is_authenticated %}

      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>