{% extends 'base.html' %}

{% block content %}
{% if user_id == g.user.id %}
<h1>My followers</h1>
{% else %}
<h1>{{username}}'s followers</h1>
{% endif %}


<table>
    {% for follower in followers %}
    {% if follower.id != g.user.id %}
    <tr>
        <td rowspan="2">
            {% if follower.avatar %}
            <img src="{{ url_for('render_avatar', user_id = follower.id) }}" alt="" height="50px">
            {% else %}
            <img src="/static/img/default_avatar.png" alt="" height="50px">
            {% endif %}
        </td>
        <td>
            <a href="{{url_for('profile', user_id=follower.id)}}">{{follower.nickname}}</a>
        </td>
    </tr>
    <tr>
        <td>
            <i>Last seen: {{follower.last_seen.strftime("%H:%M %d.%m.%Y")}}</i>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>


{% endblock %}